<?xml version="1.0" encoding="UTF-8"?>
<Configuration level="debug">
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <JsonLayout eventEol="true" compact="true" includeStacktrace="false" includeTimeMillis="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}"/>
                <KeyValuePair key="X-Correlation-Id" value="$${ctx:x-correlation-id:-}"/>
                <KeyValuePair key="X-Conversation-Id" value="$${ctx:x-conversation-id:-}"/>
                <KeyValuePair key="clientAddress" value="$${ctx:clientAddress:-}"/>
                <KeyValuePair key="responseTime-ms" value="$${ctx:responseTime:-}"/>
                <KeyValuePair key="application" value="$${main:0:-Not Started}"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="com.companion.api" level="trace" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>
